// breakpoints
$desktop: 1400;
$laptop: 1200;
$tablet: 992;
$mobileL: 768;
$mobileS: 576;

// null.scss
$fontfamily: "Font", sans-serif;
$minwidth: 320;

// global.scss
$container: 1100;

// colors
$dark: #000000;
$light: #ffffff;
