// var for null.scss

$fontfamily: "Font", sans-serif;
$minwidth: 320px;

// var for global.scss

$container: 1100px;

// breakpoints

$desktop: 1600px;
$laptop: 1199px;
$tablet: 991px;
$mobileL: 767px;
$mobile: 575px;
